<div style="display: inline-block">
  <select name="end_time">
    <option value="2">10am</option>
    <option value="3">11am</option>
    <option value="4">12pm</option>
    <option value="5">1pm</option>
    <option value="6">2pm</option>
    <option value="7">3pm</option>
    <option value="8">4pm</option>
    <option value="9">5pm</option>
    <option value="10">6pm</option>
    <option value="11">7pm</option>
    <option value="12">8pm</option>
    <option value="13">9pm</option>
  </select>
</div>