<div style="border: solid 1px #000000; text-align: center; margin: 20px 30% 20px 30%; padding: 0px;">
  <form role="form" method="post" action="mentor/shifts/new">
    
    <label>Full Name:</label>
    <input type="text" name="mentor[full_name]" placeholder = "Full Name">
    <br>

    <label>Email:</label>
    <input type="text" name="mentor[email]" placeholder = "Email">
    <br>
    
    <label>Photo:</label>
    <input style="margin-left: 300px;" type="file" name="mentor[pic]" accept="image/*"> 
    <br>
       
    <label>Constraints:</label>

    <div style="display: inline-block">
      <p>Choose Day:</p>
      <select name="day">
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
      </select>
    </div> 

    <div>
      <%= erb :'mentors/_start_time' %>
    </div>
      
    <br>   

   <br><br>
    <button type="submit" class="btn btn-default">Create Mentor </button>
    <br><br>
  </form>
</div>