<% @mentors.each do |mentor| %>
  <div id="team-members">
    <div class="member">
      <a href="#"><img src="images/<%=mentor.id%>_profile_photo.jpg"></a>
      <div class="name">
        <%= mentor.full_name %>
      </div>
    </div>
  </div>
<% end %>
