<div class = "container">
  <% @mentors.each do |mentor| %>
  <% if mentor.id != 6 %>
    <div id="team-members">
      <div class="member">
        <a href="/mentors/<%=mentor.id%>"><img src="images/<%=mentor.id%>_profile_photo.jpg"></a>
        <div class="name">
          <%= mentor.full_name %>
        </div>
      </div>
    </div>
      <% end %>
  <% end %>  
  <div id="team-members">
    <div class="member">
      <a href="/mentors/new"><img src="images/add_mentor.jpg"></a>
      <div class="name">
        Add Mentor
      </div>
    </div>
  </div>

</div>
