<div class = "container" style="text-align: left;">
  <% @mentors.each do |mentor| %>
    <div class="mentor">
      <p>
        <a href="/mentors/<%= mentor.id %>"><%= mentor.full_name %></a>
      </p>
    </div>
  <% end %>
</div>

<form action="/mentors/new">
    <button class="btn" type="submit" value="Go to Google">Add a New Mentor</button>

</form>
